
	
	<!-- Font -->
	
	<link href="https://fonts.googleapis.com/css?family=Poppins:400,500,600,700%7CAllura" rel="stylesheet">
	
	<!-- Stylesheets -->
	
    
	

	

        
        

    <app-nb></app-nb>
      
        <div class="cd-transition-layer visible opening"> 
            <div class="bg-layer"></div>
        </div><!-- Ink Transition -->
        <section class="intro-section">
            <div class="container">
                <div class="row">
                    <div class="col-md-1 col-lg-2"></div>
                    <div class="col-md-10 col-lg-8">
                        <div class="intro">
                            <div class="profile-img"><img src="./images/profile-1-250x250.jpg" alt=""></div>
                            <h2><b>Elian Martinez</b></h2>
                            <h4 class="font-yellow" style="color:rgb(27, 158, 235);" >Pasante</h4>
                            <ul class="information margin-tb-30">
                                <li><b>Fecha de Nac : </b>09 de Agosto 2001</li>
                                <li><b>Email : </b>ElianMartinez157@gmail.com</li>
                                <li><b>Cédula : </b> 402-0214589-5 </li>
                            </ul>
                        
                        </div><!-- intro -->
                    </div><!-- col-sm-8 -->
                </div><!-- row -->
            </div><!-- container -->
        </section><!-- intro-section -->
        
        <section class="portfolio-section section">
            <div class="container">
                <div class="row">
                    <div class="col-sm-4">
                        <div class="heading">
                            <h3><b>Portfolio</b></h3>
                            <h6 class="font-lite-black"><b>Mis Documentos</b></h6>
                        </div>
                    </div><!-- col-sm-4 -->
                    <div class="col-sm-8">
                        <div class="portfolioFilter clearfix margin-b-80">
                            <a href="#" data-filter="*" class="current"><b>TODOS</b></a>
                            <a href="#" data-filter=".web-design"><b>MULTIMEDIA</b></a>
                            <a href="#" data-filter=".branding"><b>DOCUEMNTOS</b></a>
                            
                        </div><!-- portfolioFilter -->
                    </div><!-- col-sm-8 -->
                </div><!-- row -->
            </div><!-- container -->
            
            <div class="portfolioContainer">
                
                <div class="p-item web-design">
                    <a href="" data-fluidbox>
                        <img src="./images/portfolio-10-300x400.jpg" alt=""></a>
                </div><!-- p-item -->
                
                <div class="p-item branding graphic-design">
                    <a href="" data-fluidbox>
                        <img src="" alt=""></a>
                </div><!-- p-item -->
                
                <div class="p-item web-design">
                    <a href="" data-fluidbox>
                        <img src="" alt=""></a>
                </div><!-- p-item -->
                
                <div class="p-item p-item-2 graphic-design">
                    <a class="img" href="" data-fluidbox>
                        <img src="" alt=""></a>
                    <a class="img" href="" data-fluidbox>
                        <img src="" alt=""></a>
                </div><!-- p-item -->
                
                <div class="p-item branding graphic-design">
                    <a href="" data-fluidbox>
                        <img src="" alt=""></a>
                </div><!-- p-item -->
                
                <div class="p-item graphic-design web-design">
                    <a href="" data-fluidbox>
                        <img src="" alt=""></a>
                </div><!-- p-item -->
                
                <div class="p-item  graphic-design branding">
                    <a href="" data-fluidbox>
                        <img src="" alt=""></a>
                </div><!-- p-item -->
                    
                <div class="p-item web-design branding">
                    <a href="" data-fluidbox>
                        <img src="" alt=""></a>
                </div><!-- p-item -->
    
                <div class="p-item p-item-2 graphic-design">
                    <a class="img" href="" data-fluidbox>
                        <img src="" alt=""></a>
                    <a class="img" href="" data-fluidbox>
                        <img src="" alt=""></a>
                </div><!-- p-item -->
            
            </div><!-- portfolioContainer -->
            
        </section><!-- portfolio-section -->
        
        
        <!-- about-section -->
        
        <!-- experience-section -->
        <!-- about-section -->
        <!-- counter-section-->
        
    
        <div class="wrapper">
        
        <!-- SCIPTS --> 
   
        
    
    </div>
    
	
	<script src="./common-js/jquery-3.2.1.min.js"></script>

    <!-- SCIPTS -->
    <script>
    
    </script>

		
	<script src="./common-js/tether.min.js"></script>
	
	<script src="./common-js/bootstrap.js"></script>
	
	<script src="./common-js/isotope.pkgd.min.js"></script>
	
	<script src="./common-js/jquery.waypoints.min.js"></script>
	
	<script src="./common-js/progressbar.min.js"></script>
	
	<script src="./common-js/jquery.fluidbox.min.js"></script>
	
	<script src="./common-js/scripts.js"></script>
    