
<img class="duc" src="assets/img/DUC.jpg" style="
   border-radius: 35px;
   display: block;
  margin-left: auto;
  margin-right: auto;
  width: 180px;
  position: relative; 
  top: -1px;
  	box-shadow: 1px 5px 5px;
  height: 80px;"> 

   <img src="assets/img/logo.png" style="
  
   display: block;
  width: 180px;
  position: relative; 
  top: -70px;
  left: 150px;
     width: 180px;
     box-shadow: 1px 3px 3px;
  height: 80px;"> 


  <div class="flex-container">
 <iframe class="videoUno"  src="https://www.youtube.com/embed/1gNTWYVaX4s "  ></iframe>

 <iframe class="videoDos" src="https://www.youtube.com/embed/qN3aAd0lnls" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

 <iframe class="videoTres" src="https://www.youtube.com/embed/KsPvD2FeEGg" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe> </div> 

 <div class="flex-container">
  <iframe class="videoCuatro" src="https://www.youtube.com/embed/HIP5ayHipAQ" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
  <iframe class="videoCinco" src="https://www.youtube.com/embed/nxJxH6S2WpQ" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div> 

<div class="flex-container">
  <iframe class="videoSeis"  src="https://www.youtube.com/embed/jGCbL0jNbYw" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
  <iframe class="videoSiete" src="https://www.youtube.com/embed/AGM3A9lEL6k" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
   <iframe class="videoOcho" src="https://www.youtube.com/embed/LvYZTbKL93M" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
  

</div> 

<div *ngIf="!parametro" >
<button class="btnIs"(click)="redirigirDos()" > Iniciar Sesion </button>
</div>


<footer  style="width: 100%; margin-left: 0px;
height: 250px;
padding-top: 50px;  font-family: 'Ubuntu', sans-serif;"  >


  <div><img src="assets/img/logo.png" style=" width: 200px; margin-left: 45px; margin-top: 50px; position:absolute; top: 25px;"></div>
    
        <p class="contact-info" style="margin-left: 325px;">
          <strong>809-687-APAP (2727)</strong> <br>
          Sin cargos desde el interior: 1-809-200-2737 | Sin cargos desde EEUU: 1-877-589-2727
        </p>
        <p class="footer-text" style="text-align: center; color:#7e7e7e; ">
          <a href="https://www.apap.com.do/acerca-de-apap/" rel="external">Sobre APAP</a> • <a href="https://www.apap.com.do/seguridad" rel="external">Seguridad</a> • <a href="https://www.apap.com.do/aviso-legal" rel="external">Aviso Legal y Términos y Condiciones</a> • <a href="https://www.apap.com.do/acerca-apap/excelente-lugar-de-trabajar/" rel="external">Trabaja con nosotros</a> • <a href="https://www.apap.com.do/canales" rel="external">Contacto</a> <br> • <a href="https://www.apap.com.do/politicas-y-privacidad/" rel="external">Políticas y Privacidad</a>
        </p>
        <br>
        <p class="footer-text copytiny" style="text-align: center; color:   #7e7e7e;">© 2019 Asociación Popular de Ahorros y Préstamos | Todos los derechos reservados. </p>
      
      <br>
      
        <ul class="redes" style=" margin-top: -230px;
        margin-left: 1100px; list-style: none; width: 50px; ">


          <li><a  href="https://www.facebook.com/asocpopular/" target="_blank" rel="external"><img src="assets/img/fb.png" class="img-fluid" alt="facebook"></a></li>

        <li><a href="https://www.instagram.com/asocpopular/" target="_blank" rel="external"><img src="assets/img/ig.png" class="img-fluid" alt="instagram"></a></li>
        
       <li> <a href="https://twitter.com/AsocPopular" target="_blank" rel="external"><img src="assets/img/twitterf.png" class="img-fluid" alt="twitter"></a></li>
        
        <li><a href="https://www.youtube.com/user/AsociacionPopular" target="_blank" rel="external"><img src="assets/img/yt.png" class="img-fluid" alt="youtube"></a></li>
        <li><a  href="https://www.linkedin.com/company/asociaci-n-popular-de-ahorros-y-pr-stamos/" target="_blank" rel="external"><img src="assets/img/in.png" class="img-fluid" alt="linkeding"></a></li>
        
    
    </ul>
          
       
        
      
   
  
</footer>
