<!-- Just an image -->
<nav class="navbar navbar-dark bg-dark">
<img src="assets/img/tarea.png" style="
display: block;
margin-left: 190px;
width: 50px;
top: 5px;
" ><h3  style="color: white;
  margin-right: 980px;">
  Tareas
</h3>
</nav>

<app-nb></app-nb>

<div class="container">

<div class="table-responsive">

  <!--Table-->
  <table class="table table-hover table-borderles">

    <!--Table head-->
    <thead>
      <tr>
        <th>Tareas</th>
        <th class="th-lg">Descripcion</th>
        <th class="th-lg">Fecha</th>
       
      </tr>
    </thead>
    <!--Table head-->

    <!--Table body-->
    <tbody>
      <tr style="background-color:lightgreen;">
        <th scope="row">1</th>
        <td> <details>
          <summary>Fotos</summary>
  
  <p>En esta tarea debera realizarse fotos en los monumentos de su ciudad, municipio o sector.  </p>
</details>



        </td>
        <td>27 de septiembre 2019</td>
        
      </tr>
      <tr style="background-color: lightsalmon;">
        <th scope="row">2</th>
        <td><details>
          <summary>Formulario</summary>
  
  <p> 
    En esta tarea debe completar el formulario de inserción laboral <a href="#" [routerLink]="'/form/1'">Ir a Formulario</a>
  </p>
</details></td>
        <td>30 de octubre 2019</td>
        
      </tr>
      
    </tbody>
    <!--Table body-->

  </table>
  <!--Table-->

</div>
</div>